:root {
    --uiBg: #67e8f9;
    --uiFont: 'Acme', sans-serif;

}

* {
    box-sizing: content-box;
}

body, html {
    margin: 0;
    
    

}

button > li {
    text-decoration: none;
    list-style-type: none;
}

.gameMenu {
    position: fixed;
    background-color: var(--uiBg);
    height:100vh;

    display:flex;
    width: 140px;
    justify-content: center;

    align-items: center;
    
}

.menuList {
    
    display:flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
}

.menuList > button {
    cursor: pointer;
    font-family: var(--uiFont);
}

.mainContainer {
    margin-left: 140px;
}

.gameBoardContainer {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.gameBoard {
    width: 600px;
    height: 600px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.blocks {
    
    border: 2px solid black;
}

#block0, #block1, #block2 {
    border-top:none;
    


}

#block6, #block7, #block8 {
    border-bottom: none;
}

#block0, #block3, #block6 {
    border-left:none;
}

#block2, #block5, #block8 {
    border-right: none;
}